<html>
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" id="id_viewport" content="width=device-width" >

	<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
	<style>
		.error {
			font-size: 10px;
			color: red;
			font-weight: bold;
		}
		input {
			width: 240pt;
		}
		select {
			width: 240pt;
		}
	</style>

	<!-- 可能ならCDN、そうでなければコピーしてこのフォルダ配下だけ完結させること。 -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.1.4/Chart.min.js"></script>
	<script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
	<script src="./brw_jq/ui_panel.js"></script>
	<script src="./brw_jq/ui_chart.js"></script>
	<script>
		$(document).ready(function(){
			var panelbutton = bindExpandCollapsePanel( "id_ctrl_panel" )
			setTimeout( function(){
				var azure_domain = $("#azure_domain");
				var device_key = $("#id_device_key");
				var azure_str, device_str;
				var dfd;
				if( (device_key.size() > 0) && (azure_domain.size() > 0) ){
					azure_str = azure_domain.val();
					device_str = device_key.val();
					dfd = updateChart("#id_result", azure_str, device_str);
					dfd.fail(function(){
						panelbutton.click();
					});
				}else{
					panelbutton.click();
				}
			}, 700 );
		});
	</script>
	<!-- // 共存テスト→OK！ -->

	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script src="./brw_lib/tiny-cookie/tiny-cookie.js"></script>
	<script src="./src/vue_main.js"></script>
</head>
<body>
	<div id="id_ctrl_panel">
		<!-- ※以下のdiv配下のイベントはvue.jsに捉まれるので、jQueryから操作NG -->
		<div id="app">
			<div>
				Azureドメイン：
				<i v-if="azure_domain_str" class="fa fa-check" style="color:#4444ff"></i>
				<!-- 
				◆Font Awesome◆
				楽して便利！Webアイコンフォント『Font Awesome』の使い方と活用 Tips
				https://h2ham.net/font-awasome
				https://web-bruno.com/font-awesome-icon-font/
				→loadingのヤツ解説されてる。
				
				アイコンをWebフォントで表示！ Font Awesomeの使い方
				→Ie7でも使えるらしい。
				https://allabout.co.jp/gm/gc/402551/2/
				 -->
				<span class="error" v-if="!azure_domain_str">「http://～.azurewebsites.net」の形式で入力してください</span><br>
				<input v-model="azure_domain_str" id="azure_domain">
				<button v-on:click="add_azure" v-show="azure_domain_str">保存</button><br>
			</div>
			<br>
			<div>
				デバイスキー：（ハッシュ値＋表示名）
				<span class="error" v-if="!device_key_str">デバイスキーを入力してください。</span>
				<span class="error" v-if="!device_name_str">表示名を入力してください。</span>
				<br>
				<input v-model="device_key_str" id="id_device_key"><br>
				<input v-model="device_name_str">
				<button v-on:click="add_device" v-show="device_key_str && device_name_str">追加</button><br>
			</div>
			
			<div style="display:none;"><!-- // debugger -->
				<div id="id_azure_domain">{{ azure_domain_str }}</div>
				<div id="id_device_key">{{ device_key_str }}</div>
			</div>
		</div>
	</div>
	<hr>
	<!-- jQueryとの共存のために、↑↓別々のdivとして２つのvueインスタンスとして扱う。 -->
	<div style="width:420px;">
		<div id="app_selector">
			<select v-model="selected" v-on:change="update_inputer">
				<option v-for="item in options" v-bind:value="item.value">
					{{ item.text }}
				</option>
			</select>
			<button v-on:click="update_chart">更新</button><br>
			<!-- // debugger -->
			<div style="display:none;"><!-- // debugger -->
				対応するValue⇒ {{ selected }}
			</div>
		</div>
	</div>
	<hr style="width:520px;">
	<div id="id_result" style="width:100%;">
		選択して「更新」を押してください。
	</div>
	<br>
	<br>
	<br>
</body>
</html>